@media ( min-width: 1400px) {

    // HEADER

    header {
        .header {
            img {
                width: 560px;
            }
            &__heading {
                font-size: 5.6rem;
                span{
                    font-size: 6.2rem;
                }
            }
        }
    }

    // QOUTE

    .quote {
        &__info {
            &-text {
                font-size: 2.6rem;
            }
            &-author {
                font-size: 2.2rem;
            }
        }
    }

    // CATALOG

    .catalog {
        &__box {
            &-card {
                height: 600px;
            }
        }
    }
}